:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

body,
input,
button,
textarea {
    font: 400 1.6rem 'DM Sans', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;
    background: linear-gradient(45deg, #190361 0%, #b0f 100%);
    display: grid;
    place-items: center;
}

main {
    color: #34355b;
    background-color: #fff;
    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.8);
    text-align: center;

    width: min(90%, 428px);
    padding: 4.8rem 0 6.4rem;
    margin-top: -20rem;
    border-radius: 5px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    max-width: 15ch;
    margin: 0 auto;
}

#home p {
    font-size: 1.5rem;
    margin: 1.6rem 2.4rem;
}

#result {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 0 1rem;
}

#result p {
    color: #000;
    background-color: #e4edf1;
    box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.5);
    font-family: 'Dancing Script', cursive;
    font-size: 2.4rem;

    padding: 1rem;
    max-width: 20ch;
    margin: 0 auto;
}

button {
    color: #fff;
    background-color: #ff9500;
    font-size: 1.5rem;
    font-weight: 700;

    width: fit-content;
    margin: 0 auto;
    padding: 1.6rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    transition: filter 300ms;
}

button:hover,
button:focus {
    filter: contrast(0.9);
}

.hidden {
    display: none !important;
}

#home img:hover {
    animation: shake 0.18s infinite;
}

#result p {
    animation: popOut 800ms ease-in;
}

@keyframes shake {
    50% {
        transform: translateX(-5px);
    }

    75% {
        transform: translateY(-5px);
    }
}

@keyframes popOut {
    0% {
        transform: translateY(15rem) scale(0.1);
    }
}
